<!doctype html>
<html>
  <head>
    <title>Getting Started with Webpack</title>
    <script src="https://unpkg.com/lodash@4.16.6"></script>
  </head>
  <body>
    <h1>Using Webpack to create a JS SDK</h1>
  </body>

  <footer>
    <script type="text/javascript" src="<%=htmlWebpackPlugin.files.js %>"></script>
  </footer>
</html>